target/
lib_managed/
src_managed/
project/boot/
.history
.cache
*.class
*.log
.lib/
dist/*
project/plugins/project/
.scala_dependencies
/.idea
/src/test/scala-2.11
/src/test/java
/src/main/scala-2.11
/src/main/java
.worksheet